{% block search_options %}
<!-- div class="col-3" -->
<div class="card">
    <div class="card-header">Search Options</div>
    <div class="card-body">
        <article class="card-group-item">
            <div class="filter-content">
                <div class="card-body">
                    <div class="row align-middle">
                        <div class="col-4">
                            <label for="oid">
                                <b>Object ID</b>
                            </label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control disabled" id="oid">
                        </div>
                    </div>
                    <div class="row align-middle">
                        <div class="col-4"><label for="class"><b>Class</b></label></div>
                        <div class="col-8">
                            <select class="form-control form-control-sm" id="class">
                                <option value="" selected>All</option>
                                <option value="1">Star</option>
                                <option value="2">Supernova</option>
                                <option value="3">Variable Star</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-middle">
                        <div class="col-4"><label for="subclass"><b>Subclass</b></label></div>
                        <div class="col-8">
                            <select class="form-control form-control-sm" id="subclass">
                                <option value="" selected>All</option>
                                <option value="1">Star</option>
                                <option value="2">Supernova</option>
                                <option value="3">Variable Star</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <br>
                        <b>Number of observations</b>
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minnobs">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxnobs">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br>
                        <b>Class Probability</b>
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min <small class="text-muted" />(%)</small></label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minpclass">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max <small class="text-muted" />(%)</small></label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxpclass">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <br>
                        <b>Period</b>
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min <small class="text-muted" />(days)</small></label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minperiod">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max <small class="text-muted" />(days)</small></label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxperiod">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row align-middle" name="ext">
                        <div class="col-12 form-check">
                            <input type="checkbox" class="form-check-input" id="ext">
                            <label class="form-check-label" for="ext">Has Crossmatch</label>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="text-center">
            <button class="btn btn-outline-secondary " type="button" data-toggle="collapse" data-target="#AdvancedSearch" aria-expanded="false" aria-controls="AdvancedSearch">
                More Options
            </button>
        </div>
        <div class="collapse" id="AdvancedSearch">
            <div name="bands">
                <br>
                <h2>Magnitude</h2>
                <div class="form-group">
                    <div class="checkbox">
                        <label data-toggle="collapse" data-target="#magnitudTab" aria-expanded="true" aria-controls="magnitudTab">
                            <input id="anyBand" type="checkbox" /> Any band
                        </label>
                    </div>
                </div>
                <div class="tab-content collapse in show" id="magnitudTab">
                    <ul class="nav nav-tabs nav-pills" id="mTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link disabled" id="mu-tab" data-toggle="tab" href="#mu" role="tab" aria-controls="mu" aria-selected="false">u</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="mg-tab" data-toggle="tab" href="#mg" role="tab" aria-controls="mg" aria-selected="true">g</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mr-tab" data-toggle="tab" href="#mr" role="tab" aria-controls="mr" aria-selected="false">r</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" id="mi-tab" data-toggle="tab" href="#mi" role="tab" aria-controls="mi" aria-selected="false">i</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" id="mz-tab" data-toggle="tab" href="#mz" role="tab" aria-controls="mz" aria-selected="false">z</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" id="my-tab" data-toggle="tab" href="#my" role="tab" aria-controls="my" aria-selected="false">y</a>
                        </li>
                    </ul>
                </div><br>
                <div class="tab-content" id="mag_tabs">
                    <div class="tab-pane active" id="mg" role="tabpanel" aria-labelledby="mg-tab">
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minG">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxG">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-middle">
                            <div class="col-4 text-center small">min</div>
                            <div class="col-4 text-center"> </div>
                            <div class="col-4 text-center small">max</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minSlopeG">
                            </div>
                            <div class="col-4 text-center"> slope </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxSlopeG">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minMeanG">
                            </div>
                            <div class="col-4 text-center"> mean </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxMeanG">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minRmsG">
                            </div>
                            <div class="col-4 text-center"> RMS </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxRmsG">
                            </div>
                        </div>
                        <!-- br>
                    <div class="row align-middle">
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="minFirstmagG" >
                        </div>
                        <div class="col-4 text-center"> first magn. </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="maxFirstmagG" >
                        </div>
                    </div-->
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minLastmagG">
                            </div>
                            <div class="col-4 text-center"> last magn. </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxLastmagG">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mr" role="tabpanel" aria-labelledby="mr-tab">
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minR">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxR">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-middle">
                            <div class="col-4 text-center small">min</div>
                            <div class="col-4 text-center"> </div>
                            <div class="col-4 text-center small">max</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minSlopeR">
                            </div>
                            <div class="col-4 text-center"> slope </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxSlopeR">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minMeanR">
                            </div>
                            <div class="col-4 text-center"> mean </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxMeanR">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minRmsR">
                            </div>
                            <div class="col-4 text-center"> RMS </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxRmsR">
                            </div>
                        </div>
                        <!-- br>
                    <div class="row align-middle">
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="minFirstmagR" >
                        </div>
                        <div class="col-4 text-center"> first magn. </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="maxFirstmagR" >
                        </div>
                    </div -->
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minLastmagR">
                            </div>
                            <div class="col-4 text-center"> last magn. </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxLastmagR">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mu" role="tabpanel" aria-labelledby="mu-tab">
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minU">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxU">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-middle">
                            <div class="col-4 text-center small">min</div>
                            <div class="col-4 text-center"> </div>
                            <div class="col-4 text-center small">max</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minSlopeU">
                            </div>
                            <div class="col-4 text-center"> slope </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxSlopeU">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minMeanU">
                            </div>
                            <div class="col-4 text-center"> mean </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxMeanU">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minRmsU">
                            </div>
                            <div class="col-4 text-center"> RMS </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxRmsU">
                            </div>
                        </div>
                        <!-- br>
                    <div class="row align-middle">
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="minFirstmagU" >
                        </div>
                        <div class="col-4 text-center"> first magn. </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="maxFirstmagU" >
                        </div>
                    </div -->
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minLastmagU">
                            </div>
                            <div class="col-4 text-center"> last magn. </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxLastmagU">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mi" role="tabpanel" aria-labelledby="mi-tab">
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minI">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxI">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-middle">
                            <div class="col-4 text-center small">min</div>
                            <div class="col-4 text-center"> </div>
                            <div class="col-4 text-center small">max</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minSlopeI">
                            </div>
                            <div class="col-4 text-center"> slope </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxSlopeI">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minMeanI">
                            </div>
                            <div class="col-4 text-center"> mean </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxMeanI">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minRmsI">
                            </div>
                            <div class="col-4 text-center"> RMS </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxRmsI">
                            </div>
                        </div>
                        <!-- br>
                    <div class="row align-middle">
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="minFirstmagI" >
                        </div>
                        <div class="col-4 text-center"> first magn. </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="maxFirstmagI" >
                        </div>
                    </div -->
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minLastmagI">
                            </div>
                            <div class="col-4 text-center"> last magn. </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxLastmagI">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mz" role="tabpanel" aria-labelledby="mz-tab">
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minZ">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxZ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-middle">
                            <div class="col-4 text-center small">min</div>
                            <div class="col-4 text-center"> </div>
                            <div class="col-4 text-center small">max</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minSlopeZ">
                            </div>
                            <div class="col-4 text-center"> slope </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxSlopeZ">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minMeanZ">
                            </div>
                            <div class="col-4 text-center"> mean </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxMeanZ">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minRmsZ">
                            </div>
                            <div class="col-4 text-center"> RMS </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxRmsZ">
                            </div>
                        </div>
                        <!-- br>
                    <div class="row align-middle">
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="minFirstmagZ" >
                        </div>
                        <div class="col-4 text-center"> first magn. </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="maxFirstmagZ" >
                        </div>
                    </div-->
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minLastmagZ">
                            </div>
                            <div class="col-4 text-center"> last magn. </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxLastmagZ">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="my" role="tabpanel" aria-labelledby="my-tab">
                        <div class="row align-middle">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Min</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="minY">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 text-right">
                                        <label>Max</label>
                                    </div>
                                    <div class="col-8 text-left">
                                        <input class="form-control form-control-sm" id="maxY">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-middle">
                            <div class="col-4 text-center small">min</div>
                            <div class="col-4 text-center"> </div>
                            <div class="col-4 text-center small">max</div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minSlopeY">
                            </div>
                            <div class="col-4 text-center"> slope </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxSlopeY">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minMeanY">
                            </div>
                            <div class="col-4 text-center"> mean </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxMeanY">
                            </div>
                        </div>
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minRmsY">
                            </div>
                            <div class="col-4 text-center"> RMS </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxRmsY">
                            </div>
                        </div>
                        <!-- br>
                    <div class="row align-middle">
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="minFirstmagY" >
                        </div>
                        <div class="col-4 text-center"> first magn. </div>
                        <div class="col-4">
                            <input class="form-control form-control-sm" id="maxFirstmagY" >
                        </div>
                    </div-->
                        <br>
                        <div class="row align-middle">
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="minLastmagY">
                            </div>
                            <div class="col-4 text-center"> last magn. </div>
                            <div class="col-4">
                                <input class="form-control form-control-sm" id="maxLastmagY">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div name="dates">
                <br>
                <h2>Dates</h2>
                <div class="row align-middle" name="JD">
                    <div class="col">
                        <p class="small">MJD<p>
                    </div>
                    <div class="col">
                        <p class="small">Date<p>
                    </div>
                </div>
                <div class="row align-middle">
                    <div class="col">
                        <label>Start Date</label>
                    </div>
                </div>
                <div class="row align-middle" name="firstJD">

                    <div class="col">
                        <input class="form-control form-control-sm" id="firstjd" />
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="datepickerfirst" name="firstJD" type="date" />
                    </div>
                </div>
                <br>
                <div class="row align-middle">
                    <div class="col">
                        <label>End Date</label>
                    </div>
                </div>
                <div class="row align-middle" name="lastJD">
                    <div class="col">
                        <input class="form-control form-control-sm" class="form-control form-control-sm" id="lastjd" />
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="datepickerlast" name="lastJD" type="date" />
                    </div>

                </div>
                <br>
                <div class="row align-middle">
                    <div class="col-4 text-center small">min</div>
                    <div class="col-4 text-center"></div>
                    <div class="col-4 text-center small">max</div>
                </div>
                <div class="row align-middle">
                    <div class="col-4">
                        <input class="form-control form-control-sm" id="minjd">
                    </div>
                    <div class="col-4 text-center">delta <small class="text-muted" />(days)</small></div>
                    <div class="col-4">
                        <input class="form-control form-control-sm" id="maxjd">
                    </div>
                </div>
            </div>
            <div name="coordinates">
                <br>
                <h2>Coordinates</h2>
                <div class="tab-content" id="coordinatesTab">
                    <ul class="nav nav-tabs nav-pills" id="cTab" name="cTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="single-tab" data-toggle="tab" href="#single" role="tab" aria-controls="single" aria-selected="true">Single</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
                        </li>
                    </ul>
                </div><br>
                <div class="tab-content">
                    <div class="tab-pane active" id="single" role="tabpanel" aria-labelledby="single-tab">
                        <div class="row align-middle">
                            <div class="col-6">RA <small class="text-muted" />(deg)</small></div>
                            <div class="col-6">
                                <input class="form-control form-control-sm" id="RA">
                            </div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-6">DEC <small class="text-muted" />(deg)</small></div>
                            <div class="col-6">
                                <input class="form-control form-control-sm" id="DEC">
                            </div>
                        </div>
                        <div class="row align-middle">
                            <div class="col-6">RS <small class="text-muted" />(deg)</small></div>
                            <div class="col-6">
                                <input class="form-control form-control-sm" id="RS">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <input type="file" id="coordinates" class="form-control-file border">
                        <div class="alert alert-info small">.txt file, format: "RA,DEC,RS\n"</div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-outline-secondary " id="SQLbtn" type="button" data-toggle="collapse" data-target="#SQL" aria-expanded="false" aria-controls="SQL">
                Show SQL
            </button>
        </div>
        <div class="collapse" id="SQL">
            <br>
            <div class="jumbotron">
                <pre><code>SQL code</code></pre>
            </div>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-primary btn-lg btn-block" id="searchbtn" type="button">
                SEARCH
            </button>
        </div>
        <br>
        <div class="row justify-content-around">
            <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#saveSearchModal">
                Save search
            </button>
            <button class="btn btn-warning btn-sm" type="button" data-toggle="modal" data-target="#subscribeModal">
                Subscribe
            </button>
        </div>
    </div>
</div>

<!-- ------ modal blocks ---------- -->
{% include 'exploreData/saveSearchModal.html' %}
{% include 'exploreData/subscribeModal.html' %}
<!-- ------------------------------------------ -->
<!-- {# include subscribe_modal #} -->
<!-- ------------------------------------------ -->
<!-- {# include big_search_modal #} -->
<!-- ---------- end modal blocks ----------- -->

{% endblock %}
