{% block tab_data %}
<!-- div class="tab-content" id="myTabContent" | col-9 -->
<div class="tab-pane fade show active p-3" id="data" role="tabpanel" aria-labelledby="data-tab">
    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#showMoreModal">
                Show more detail
            </button>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#downloadModal">
                Download Selected Data
            </button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="modal" data-target="#downloadModal">
                Download All
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-sm table-bordered invisible" id="results-table">
                    <thead id="results-table-head"></thead>
                    <tbody id="results-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ------ modal blocks ---------- -->
{% include 'exploreData/showMoreDetailModal.html' %}
{% include 'exploreData/downloadModal.html' %}
<!-- ------------------------------------------ -->
<!-- {# include more_details_modal #} -->
<!-- ---------- end modal blocks ----------- -->
{% endblock %}