<footer class="footer">
	<div class="container-fluid bg-light " id="footer" style="padding-top: 3px; padding-bottom: 3px;">
		<div></div>
		<div class="row">
			<div class="col-2 align-text-bottom">
				<p class="small text-muted"><a class="text-muted" href="{% url 'home' %}">About Us</a></p>
			</div>
			<div class="col-10" name="logos">
				<div class="row align-middle">
					<div class="col">
						<a href="http://www.ingenieria.uach.cl/institutos/informatica.html" target="blank">
							<img class="img-fluid" src="{% static 'img/UACH.png' %}" style="height:25px;" alt="U. Austral (Inf.)">
						</a>
					</div>
					<div class="col">
						<a href="http://www.ing.uc.cl/ciencia-de-la-computacion/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerPUC.png' %}" style="height:25px;" alt="U.Católica (DCC)">
						</a>
					</div>
					<div class="col">
						<a href="http://www.cmm.uchile.cl/" target="blank">
							<img class="img-fluid" src="{% static 'img/CMM.png' %}" style="height:25px;" alt="U. Chile (CMM)">
						</a>
					</div>
					<div class="col">
						<a href="http://die.cl/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerDIE.png' %}" style="height:25px;" alt="U. Chile (DIE)">
						</a>
					</div>
					<div class="col">
						<a href="http://www.inf.udec.cl/" target="blank">
							<img class="img-fluid" src="{% static 'img/udec.png' %}" style="height:25px;" alt="U. Concepción (DCC)">
						</a>
					</div>
					<div class="col">
						<a href="http://astrofisicamas.cl/" target="blank">
							<img class="img-fluid" src="{% static 'img/MAS.png' %}" style="height:25px;" alt="Millenium Institute for Astrophysiscs - MAS">
						</a>
					</div>
					<div class="col">
						<a href="http://fisica.unab.cl/" target="blank">
							<img class="img-fluid" src="{% static 'img/unab.png' %}" style="height:25px;" alt="U. Nacional Andrés Bello (DCF)">
						</a>
					</div>
					<div class="col">
						<a href="http://www.reuna.cl/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerReuna.png' %}" style="height:25px;" alt="REUNA">
						</a>
					</div>
					<div class="col">
						<a href="http://cd3.caltech.edu/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerCaltech.png' %}" style="height:25px;" alt="Caltech (CD3)">
						</a>
					</div>
					<div class="col">
						<a href="https://iacs.seas.harvard.edu/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerIACS.png' %}" style="height:25px;" alt="Harverd U.(IACS)">
						</a>
					</div>
					<div class="col">
						<a href="http://www.seas.harvard.edu/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerSEAS.png' %}" style="height:25px;" alt="Harverd U.(SEAS)">
						</a>
					</div>
					<div class="col">
						<a href="http://dirac.astro.washington.edu/" target="blank">
							<img class="img-fluid" src="{% static 'img/footerWashington.png' %}" style="height:25px;" alt="U. of Washington (Dirac)">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</footer>