{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">About </a>
            <a href="#" class="list-group-item list-group-item-action">People</a>
            <a href="#" class="list-group-item list-group-item-action">ZTF</a>
            <a href="#" class="list-group-item list-group-item-action">LSST</a>
            <a href="#" class="list-group-item list-group-item-action">Publications</a>
            <a href="#" class="list-group-item list-group-item-action">Contact Us</a>
            <a href="#" class="list-group-item list-group-item-action">Work With Us</a>
            <a href="#" class="list-group-item list-group-item-action">Help</a>
        </div>
    </div>
    <div class="col-9">
        <div class="jumbotron">
            <h1 class="display-4">About</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</div>
{% endblock %}